@()
<!doctype html>

<html lang="en">

    <style>
body {
    background-color: lightblue;
}

h1 {
    color: red;
    margin-left: 40px;
}

h2 {
    color: red;
    margin-left: 40px;
}

p {
    color: red;
    margin-left: 40px;
}
</style>
    <head>
        <meta charset="utf-8">
        <title>Welcome to my Music Library System</title>
    </head>

    <body>

        <h1> Welcome to my Music Library System Index </h1>


        <h2>This app was created using the Scala Play Framework </h2>

        <p>
            Created By Ahmed Ibrahim
        </p>

        <p id="demo"></p>
        <script>
                    var d = new Date();
                    document.getElementById("demo").innerHTML = d;
            </script>


    </body>
</html>